#include<windows.h>
#include<DialogBox.h>
#include"MatPC.h"

MYDIALOG DIALOG DISCARDABLE 0, 0, 900, 350
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION
CAPTION "MAIN MENU"

BEGIN

LTEXT "SELECT ONE SUBJECT:", -1, 35, 10, 100, 10

AUTORADIOBUTTON "MATH:", ID_RBMATH, 50, 40, 50, 10 
AUTORADIOBUTTON "CHEMISTRY:", ID_RBCHEMISTRY, 200, 40, 70, 10
AUTORADIOBUTTON "PHYSICS:", ID_RBMATHEMATICS, 400, 40, 90, 10

/******************************************Math**********************************************************/

LTEXT "First Circle", -1, 45, 60, 50, 10
LTEXT "Coordinate", -1, 50, 80, 50, 10

LTEXT "x", -1, 57, 100, 20, 10,
EDITTEXT ID_ETX1, 75, 100, 15, 10, WS_TABSTOP | ES_NUMBER

LTEXT "y", -1, 57, 120, 20, 10
EDITTEXT ID_ETY1, 75, 120, 15, 10, WS_TABSTOP | ES_NUMBER

LTEXT "Radius", -1, 40, 140, 30, 10
EDITTEXT ID_ETRADIUS1, 75, 140, 15, 10, WS_TABSTOP | ES_NUMBER

LTEXT "Direction", -1, 30, 160, 40, 10
COMBOBOX ID_CBDIRECTION1, 75, 160, 60, 40, WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS | CBS_SORT

LTEXT"Second Circle", -1, 45, 180, 60, 10 

LTEXT "Coordinate", -1, 57, 200, 50, 10

LTEXT "x", -1, 57, 210, 20, 10
EDITTEXT ID_ETX2, 75, 210, 15, 10, WS_TABSTOP | ES_NUMBER

LTEXT "y", -1, 57, 230, 20, 10 
EDITTEXT ID_ETY2, 75, 230, 15, 10, WS_TABSTOP | ES_NUMBER

LTEXT "Radius", -1, 40, 250, 30, 10
EDITTEXT ID_ETRADIUS2, 75, 250, 15, 10, WS_TABSTOP | ES_NUMBER

LTEXT "Direction", -1, 30, 270, 40, 10
COMBOBOX ID_CBDIRECTION2, 75, 270, 60, 40, WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS | CBS_SORT

LTEXT "NOTE : Each Direction will be from respective points.", -1, 45, 290, 100, 30

PUSHBUTTON "VALIDATE COLLISION", ID_ValidateCollision, 75, 310, 75, 15

PUSHBUTTON "CANCEL", ID_CANCEL, 620, 320, 35, 15

/******************************************Chemistry**********************************************************/

LTEXT "ENTER ELEMENT NUMBER:", -1, 200, 60, 90, 50
COMBOBOX ID_ETNUMBER, 200, 90, 90, 200, WS_TABSTOP

PUSHBUTTON "SEARCH ELEMENT", IDB_SEARCHELEMENT, 200, 315, 90, 10
/******************************************Physics**********************************************************/

LTEXT "Force :", -1, 400, 60, 90, 10
EDITTEXT ID_FORCE, 450, 60, 30, 10, WS_TABSTOP

LTEXT "Constant :", -1, 400, 100, 90, 10
EDITTEXT ID_CONSTANT, 450, 100, 30, 10, WS_TABSTOP

LTEXT "Distance :", -1, 400, 140, 90, 10
EDITTEXT ID_DISTANCE, 450, 140, 30, 10, WS_TABSTOP

PUSHBUTTON "FORCE", IDB_FORCE, 400, 200, 90, 10
PUSHBUTTON "CONSTANT", IDB_CONSTANT, 400, 240, 90, 10
PUSHBUTTON "DISTANCE", IDB_DISTANCE, 400, 280, 90, 10


END

SPLASHSCREEN BITMAP SlashScreen.bmp